.container {
    padding: 20px;
    border-radius: 5px;
    max-width: 1000px;
    max-height: 1000px;
    margin: 20px auto;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.title {
    font-size: 1.5rem;
    color: white;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-inline: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.input-container {
    --c-text: rgb(50, 50, 80);
    --c-bg: rgb(252, 252, 252);
    --c-outline: rgb(55, 45, 190);
    display: grid;
    gap: 1ch;
    position: relative;
    max-width: 190px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.input-field {
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid var(--c-border, currentColor);
    color: var(--c-text);
    font-size: 1rem;
    letter-spacing: 0.1ch;
    width: 100%;
}

.input-field:not(:placeholder-shown)+.input-label {
    transform: translateY(-220%);
    opacity: 1;
}

.input-field:invalid {
    --c-border: rgb(230, 85, 60);
    --c-text: rgb(230, 85, 60);
    --c-outline: rgb(230, 85, 60);
}

.input-field:is(:disabled, :read-only) {
    --c-border: rgb(150, 150, 150);
    --c-text: rgb(170, 170, 170);
}

.input-field:is(:focus, :focus-visible) {
    outline: 2px solid var(--c-outline);
    outline-offset: 2px;
}

.input-label {
    --timing: 200ms ease-in;
    position: absolute;
    left: 0;
    top: 50%;
    transition: transform var(--timing), opacity var(--timing);
    transform: translateY(-50%);
    opacity: 0;
    color: var(--c-text);
    font-weight: 500;
}


/* Estilos comunes para ambos botones */

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}


/* Efectos de hover para los botones */

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}


/* Botón de Calcular */

.calculateButton {
    margin-bottom: 10px;
    margin-right: 10px;
    /* Margen inferior para separar del botón Limpiar */
}

.clearButton {
    margin-left: 10px;
}

.result {
    font-size: 1.2rem;
    color: #28a745;
    margin-top: 10px;
}

.homeButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.homeButton:hover {
    background-color: #0056b3;
}